body {
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  padding-top: 5rem;
  font-family: "Ysabeau", sans-serif;
  font-size: 18px;
  background: hsl(77 28 95);
  color: hsl(76 15 15);
  box-sizing: border-box;
}

main {
  width: 100%;
  max-width: 600px;
  padding: 0 1.5rem;
  box-sizing: border-box;
}

#porthole-canvas {
  display: block;
  width: 100%;
  height: 160px;
  margin-bottom: 1.5rem;
  /* border-radius: 4px; */
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.site-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: "Cormorant", Garamond, serif;
  font-size: 2.5rem;
}

.site-icon {
  width: 1em;
  height: 1em;
}

a {
  color: hsl(76 15 0);
  text-decoration: underline;
}

footer a {
  color: hsl(76 10 35);
}